html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
@media(max-width: 820px) {
    .container {
    flex-direction: column;
    }

    .container > div {
    margin-bottom: 10px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    scrollbar-width: 0;
    background: rgb(254, 236, 186);
}

    body::-webkit-scrollbar {
        display: none;
    }


.content {
    padding-bottom: 100vh; 
}


body div ul li {
    padding: 10px;
}

.cadastro {
    width: 350px;
    margin: auto;
    margin-top: 10%;
    padding: 25px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-color: rgba(112, 112, 112, 0.1);
    border-radius: 20px;
    border: 1px solid rgb(145, 144, 144);
    border-radius: 20px;
 }

@media (max-width: 827px) {
    .login > img {
        width:400px;
    }
}
