@model web_app.Models.Postagem

<h4>Postagem</h4>
<hr />
<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            @* <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            @*<div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="No que esta pensando hoje?" style="resize: none; border: 2px; border-radius: 12px;
            padding: 7px; width:500px;"></textarea>
            </div>*@
            <div class="form-group">
                <input asp-for="Descricao" class="form-control" style=" height:100px; width:412px;" />
                <span asp-validation-for="Descricao" class="text-danger" ></span>
            </div>
            <div class="d-flex justify-content-around m-2">
                <div class="form-group">
                    <label for="uploadImage">
                        <img src="~/imgs/icons/imagemUpload.svg" style="width:40px;" />
                    </label>
                    <input asp-for="UrlImagem" type="file" id="uploadImage" style="display:none;"/>
                </div>
                <div class="form-group">
                    <input type="submit" value="Postar" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
