.nav-top {
    background: rgb(237, 183, 33) !important;
    background: linear-gradient(180deg, rgba(237, 183, 33, 0.3981793400954131) 0%, rgba(255, 255, 255, 1) 100%) !important;
    color: rgb(0, 0, 0) !important;
}

body {
    min-width: 372px;
    background: rgb(237, 183, 33);
    background: linear-gradient(0deg, rgba(237, 183, 33, 0.5466387238489145) 0%, rgba(255, 255, 255, 1) 100%);
}
