*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100;
    overflow-y: hidden;
    overflow-x: hidden;
}

.scroll::-webkit-scrollbar{
    width: 12px !important;
    border: 1px solid rgb(200,200,200) !important;
}

.scroll::-webkit-scrollbar-thumb{
    background-color: gold !important;
    border-radius: 6px !important;
}

.scroll{
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 91vh;
    padding: 30px 10%;
    overflow-y: scroll;
    box-shadow: 0 0 5px solid rgba(0, 0, 0, 0.3);
    background: rgb(237,183,33);
    background: linear-gradient(0deg, rgba(237,183,33,0.5466387238489145) 0%, rgba(255,255,255,1) 100%);
}

.box{
    width: 70%;
    height: 730px;
    background-color: #fff;
    border-radius: 15px;
    margin: 2vw 0 0 10vw;
}