*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body::-webkit-scrollbar{
    width: 0px;
}

body{
    scrollbar-width: 0;
    background: rgb(237,183,33);
    background: linear-gradient(0deg, rgba(237,183,33,0.5466387238489145) 0%, rgba(255,255,255,1) 100%); 
}

   

#insta{
    /*position:fixed;*/
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#insta header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 44px;
    padding: 0 16px;
    background: rgb(237,183,33) !important;
    background: linear-gradient(180deg, rgba(237,183,33,0.3981793400954131) 0%, rgba(255,255,255,1) 100%) !important; 
}

#insta main{
    flex: 1;
    background: #fafafa;
    padding: 45px 0;

}

#insta footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 44px;
    min-height: 44px;
    background: #fff;
    border-top: 1px solid rgb(0, 0, 0, 0.2);
}

#insta footer a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    }

    #insta footer a img{
        border-radius: 30px;
    }

