body{
    height: 100%;
    width: 99%;
    color: #2e2e2e;
    background-size: cover;
    background: rgb(237,183,33);
    background: linear-gradient(0deg, rgba(237,183,33,0.5466387238489145) 0%, rgba(255,255,255,1) 100%);  
    color: #f68e07;
}

.navbar{
  margin: 10px 0 0 10px;
}
.div-foto-perfil{
    height:150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #f68e07;
    margin-left: 700px;
}
#car{
  height: 100vh !important;
}
#foto{
    height: 120%;
    width: 100%;
}

#arquivo{
    display: none;
}

.div-foto-perfil #botao-upload{
    height: 60px;
    width: 8%;
    position:absolute;
    top: 35%;
    left: 47%;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-size: 15px;
    cursor: pointer;
    display: none;
}


.alinhamento{
  width: 500px;
  margin: auto;
  padding: 8px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.383);
  border-radius: 20px;
  border: 1px solid rgb(116, 116, 116);
  border-radius: 20px;
  padding: 5%;
  text-align: center;
  color: #e2e2e2;
  text-decoration: none;
}
.alinhamento input{
    background-color: transparent;
    border-style: none none solid;
    border-image:none;
    border-bottom: 1.5px outset rgb(139, 138, 138);
}
.container1 {
    width: 400px;
    margin: auto;
    padding: 8px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-color: rgba(190, 190, 190, 0.1);
    border-radius: 20px;
    border: 1px solid rgb(116, 116, 116);
    border-radius: 20px;
    padding: 5%;
    text-align: center;
    color: #e2e2e2;
    text-decoration: none;
  }
  .inicial1{
    margin-top: 10%;
  }
  .radio1{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .title1 {
    text-align: center;
    color: #000000;
    font-weight: 600;
  }
  
  .form1 {
    padding: 15px;
  }
  .form-control{
    color:#000000
  }
  .form-group1 {
    position: relative;
    padding: 20px 0;
    margin: auto;
    max-width: 100%;
  }
  
  .form-group1 input {
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid #131313;
    font-size: 18px;
    padding: 10px 0;
    display: block;
    width: 100%;
    color:rgb(0, 0, 0);
  }
  
  .form-group1 label {
    color: #000000;
    font-size: 16px;
    font-weight: 1000;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
  }
  
  .form-group1 input:valid, 
  .form-group1 input:focus {
    border-bottom-color: #e2e2e2;
    outline: none;
  }
  /* tava bugando o cpf/cnpj
  .form-group1 input:valid + label,
  .form-group1 input:focus + label {
    color: #e2e2e2;
    font-size: 14px;
    transform: translateY(0);
  }*/
  label{
    color: #000000;
  }
  
  .submit1 {
    background: #ff0000;
    padding: 7px 0;
    outline: none;
    font-size: 18px;
    width: 100%;
    margin: 17px 0;
    cursor: pointer;
    color: #ffffff;
    border-radius: 8px;
    transition: 0.9s;
    border: 1px solid #2e2e2e;
  }
  .submit1:hover{
    color: #ff0202;
    background-color: #ffffff;
  }
  .aces1 {
    text-align: center;
    color: hsl(138, 85%, 41%);
    font-weight: 600;
  }
  .row1 a {
    color: #000000;
    text-decoration: none;
  }
  
  a:hover {
    color: #f68e07;
  }

  /*Pagina 6*/

.btn-6{
  text-align: center;
  text-decoration: none;
  width: 100px; 
  color:#f68e07;
}
.div-foto-perfil6{
  height:150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #f68e07;
  margin-left: 10%;
}
#campo-comentario{
  border: 1px solid #f68e07;
  display: inline-block;
}

.msg{
  background-color: #2e2e2e;
  border: 1px dashed #f68e07;
}
#arquivo-de-post{
  height: 30px;
  width: 100px;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: wheat;
  cursor: pointer;
}


/*Loja*/
.img-produto{
  max-width: 300px;
  max-height: 300px;
  min-height: 100px;
  min-width: 100px;
}
.loja{
  padding-top: 10px;
  display: flex;
}
.loja button{
  align-items: flex-end;
  justify-content: end;
}

/*Confirma*/
html {
  font-family: sans-serif;
}

body {
  color: #2e2e2e;
  background-size: cover;
  background: rgb(237,183,33);
  background: linear-gradient(0deg, rgba(237,183,33,0.5466387238489145) 0%, rgba(255,255,255,1) 100%); 
}

.container3 {
  width: 350px;
  margin: auto;
  padding: 8px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  background-color: rgba(190, 190, 190, 0.322);
  border-radius: 20px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
}

.title3 {
  text-align: center;
  color: #000000;
  font-weight: 600;
}

.selecionar3 input {
  float: left;
}

.selecionar4 input{
  float: right;
}
#body-9{
  overflow: hidden;
  height: 100vh;
}
.selecionar3 label{
  text-align: center;
  color: #e2e2e2;
  float: left;
}

.selecionar4 label{
  text-align: center;
  color: #e2e2e2;
  float: right;
}

.form3 {
  padding: 15px;
}

.form-group3 {
  position: relative;
  padding: 20px 0;
  margin: auto;
  max-width: 100%;
}

.form-group3 input {
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid #e2e2e2;
  font-size: 18px;
  padding: 10px 0;
  display: block;
  width: 100%;
}

.form-group3 label {
  color: #e2e2e2;
  font-size: 16px;
  font-weight: 100;
  position: absolute;
  pointer-events: none;
  top: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-in-out;
  left: 0;
}

.form-group input:valid, 
.form-group input:focus {
  border-bottom-color: #e2e2e2;
  outline: none;
}

.form-group input:valid + label,
.form-group input:focus + label {
  color: #e2e2e2;
  font-size: 14px;
  transform: translateY(0);
}
.subtitle{
  color: #000000;
}
.submit3 {
  background: #2e2e2e;
  padding: 7px 0;
  outline: none;
  font-size: 18px;
  width: 100%;
  margin: 17px 0;
  cursor: pointer;
  color: #f68e07;
  border-radius: 8px;
  transition: 0.9s;
  border: 1px solid #2e2e2e;
}


/*.aces {
  text-align: center;
  color: hsl(138, 85%, 41%);
  font-weight: 600;
}*/


.submit3:hover {
  background: #f68e07;
  color: #2e2e2e;
}

.email-esqueceu input{
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid #e2e2e2;
  font-size: 18px;
  padding: 10px 0;
  display: block;
  width: 100%;
  color:rgb(0, 0, 0);
}

.text-esqueceu{
  text-align: center;
  color: #e2e2e2;
}

.form-group1 ::placeholder{
  color: rgba(255, 255, 255, 0.363);
}


.seisedez{
  font-size: 20pt;
  font-weight: 900;
  color: #f68e07;
}

/*TELA 2*/
#usuarioCNPJ, #caracteristicasProduto{
  color: white;
  
}

#usuarioCNPJ{
  display: flex;
  justify-content: center;
  text-align: center;
}

#cpf, #cnpj, #endereco{
  display: none;
}

#sucesso{
  display: none;
  color: #000000;
}

/*TELA3*/
.container2 {
  width: 80%;
  margin: auto;
  padding: 8px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  background-color: rgba(190, 190, 190, 0.1);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 20px;
  padding: 5%;
  text-align: center;
  color: #e2e2e2;
  text-decoration: none;
}

.produto{
  background-color: #2e2e2e;
  width: 100%;
  height: 125px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.nomeProduto, .qtdProduto, #labelPixCPF, #labelPixTelefone, #labelPixEmail, #labelPixKey{
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.imgProduto{
  width: 300px;
  height: 150px;
}

.imgProduto img{
  height: 100%;
  width: 100%;
  max-width: 180px;
  border-radius: 10%;
}

.descricaoProduto{
  font-size: 16px;
  width: 50%;
  height: 65px;
  padding-top: 20px;
}

.plus,.minus{
  margin: 0 10px;
}

#campoCartao{
  display: none;
}

#campoPIX{
  display: none;
}

#inputPIX{
  display: none;
}

.pixCPF, .pixFone, .pixEmail, .pixKey{
  display: none;
}
.d{
  display: flex;
  justify-content: center;
}